html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(../imgs/bg_picture.png);
    background-size: cover;
    background-attachment: fixed;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'nanumsquare', sans-serif;
}

#app {
    width: 100%;
    height: 100%;
}

header {
    height: 4rem;
}

section {
    height: calc(100vh - 10rem);
}

footer {
    width: 100%;
    height: 6rem;
    position: absolute;
    bottom: 0;
}

.container {
    width: 1080px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

header .container #logo {
    width: 3rem;
}

header .container #logoText {
    font-family: 'poiret one';
    font-weight: bold;
    font-size: 1.45rem;
    letter-spacing: 1px;
    padding-left: 0.5rem;
    color: #14c1c7;
}

header .container nav ul {
    margin-left: 27rem;
}

header .container nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 2.25rem;
}

header .container nav ul li a {
    text-decoration: none;
    font-size: 1.05rem;
    color: #606060;
    transition: 0.5s;
}

header .container nav ul li a:hover {
    letter-spacing: 2px;
}


/* footer 분리 */

footer .container {
    justify-content: center;
}

footer .container span {
    font-size: 0.95rem;
    color: #424242;
    line-height: 1.5;
}

footer .container a img {
    width: 1.2rem;
    margin-right: 0.6rem;
    cursor: pointer;
}

footer .container a:nth-of-type(1) img {
    margin-left: 37rem;
}
