section .container #subBox {
    position: absolute;
    width: 100%;
    height: 5rem;
    background: linear-gradient(to right, #15c2c8, #23cccb);
    left: 0;
    bottom: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .container #subBox span {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
}

section .container #subBox img {
    width: 1.7rem;
    margin-left: 1rem;
    cursor: pointer;
    transition: 0.5s;
}

section .container #subBox img:hover {
    transform: scale(1.25);
}

section .container .infos {
    width: 50%;
    height: 100%;
}

section .container .infos#introTexts {
    float: left;
}

section .container #introTexts h1 {
    color: #606060;
    font-weight: 400;
    font-size: 35px;
    line-height: 1.3;
    margin-top: 15.5rem;
}

section .container #introTexts h1 span {
    color: #14c1c7;
    font-weight: 600;
}

section .container #introTexts p {
    font-size: 1.05rem;
    font-weight: 500;
    color: #424242;
    line-height: 1.5;
    margin-top: 2.5rem;
}

section .container .infos#introImgs {
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* 폰 그리는 부분 */

section .container #introImgs .phone {
    width: 20rem;
    height: 37.5rem;
    margin-top: -3rem;
    box-shadow: 0 0 3px darkgray;
    border-radius: 35px;
    background-color: white;
}

section .container .phone .speaker {
    width: 3px;
    height: 3px;
    box-shadow: 0 0 4px;
    border-radius: 100%;
    margin: 0 auto;
    margin-top: 1.25rem;
}

section .container .phone .sound {
    width: 4.5rem;
    height: 5px;
    box-shadow: 0 0 3px gray inset;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 0.85rem;
}

section .container .phone .screen {
    width: 93.5%;
    height: 28rem;
    box-shadow: 0 0 2px darkgray;
    border-radius: 2px;
    margin: 0 auto;
    margin-top: 2rem;
    text-align: center;
    background-image: url("../imgs/back3.jpg");
    background-size: cover;
}

section .container .screen .screenText {
    color: white;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    font-weight: lighter;
    line-height: 2.2;
    background-color: rgba(0, 0, 0, 0.6);
    display: inline;
    box-sizing: content-box;
    padding: 0.5rem;
    padding-right:0.2rem;
    position: relative;
    top: 6rem;
}

section .container .screen .icons {
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 100%;
    display: inline-flex;
    vertical-align: top;
    margin-right: 0.5rem;
    align-items: center;
    justify-content: center;
    margin-top: 16rem;
}

section .container .icons img {
    width: 1.2rem;
    height: 1.2rem;
}

section .container .phone .mainBtn {
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 100%;
    box-shadow: 0 1px 3px darkgray inset;
    margin: 0 auto;
    margin-top: 1.1rem;
}
