header {
    border-bottom: 1px solid #d6d6d6;
}

section .container {
    width: 100%;
    display: block;
}

section .container h1 {
    text-align: center;
    color: #666666;
    font-weight: normal;
    padding-top: 3.5rem;
    font-size: 1.8rem;
}

section .container .picCover {
    height: 42.3rem;
    margin: 1rem;
    margin-top: 2rem;
}

footer {
    background-color: #333;
}

footer .container span {
    color: #b9b9b9 !important;
}
