section .container h1 {
    margin-top: 2rem;
}

section .container #loginBtn {
    margin-top: 4rem;
}

section .container label{
    font-size:1.1rem;
    margin-top:1.5rem;
}

section .container label:nth-of-type(1){
    margin-top:2.5rem;
}

section .container input {
    height:2.5rem;
    font-size:0.95rem;
}
